body{
  background: #66ccff;
  color:black;
  padding:50px;
}

#container{
  display:flex;
  justify-content: flex;
}
.todoListMain{
  float:left;
}
.todoListMain .header input{
    padding : 10px;
    font-size: 16px;
    border:2px solid white;
    width:165px;
}
.todoListMain .header button{
     padding : 10px;
      font-size: 16px;
      margin:10px;
      margin-right:0px;
      background:blue;
    
      border:2px solid white;
      width:165px;
}
.todoListMain .header button:hover {
    background:black;
    border : 2px solid black;
    color:gold;
    cursor: pointer;
}
    
.todoListMain .theList li {
      list-style: none;
      background:rgb(255,255,255,.5);
      padding : 15px;
      margin-bottom: 15px;
      border-radius: 5px;
     
      
}
ul.theList{
      padding:0;
      box-sizing: inherit;
      float:left;
      width: auto;
      
    }
.todoListMain .theList li:hover{
    cursor: pointer;
    background:pink;
} 